extends layout

block content
    link(rel="stylesheet", href="/stylesheets/pages/about.css")

    <h1 class="page-title">About Us</h1>
    <h2>Who we Are</h2>
    <p>We are a company with the sole intention to increase the playerbase and create a whole new satisfying look on this project.</p>
    <h2>What we Do</h2>
    <p>Discord Miner is a creative economy and mining simulation bot. We have housed over a quarter of a million individual users throughout all of Discord.</p>