extends layout

block content
    link(rel="stylesheet", href="/stylesheets/pages/commands.css")

    <h1 class="page-title">Commands</h1>
    <div class="cmd-aria">
        <h2 id="profile">Profile Commands</h2>
        <div class="ccontainer" id="inventory">
            <h3 class="cname">m!inventory</h3>
            <span class="cdesc">Display your inventory.</span>
            <div class="aliases">Aliases:
                <span>m!i</span>,
                <span>m!inv</span>
            </div>
        </div>
        <div class="ccontainer" id="profile">
            <h3 class="cname">m!profile</h3>
            <span class="cdesc">Display your profile.</span>
            <div class="aliases">Aliases:<span>m!p</span></div>
        </div>
        <div class="ccontainer" id="trade">
            <h3 class="cname">m!trade &lt;user&gt; &lt;sellItem&gt; &lt;wantItem&gt;</h3>
            <span class="cdesc">Trade with a user.</span>
            <div class="aliases">Aliases:<span>N/A</span></div>
        </div>
        <div class="ccontainer" id="tribe">
            <h3 class="cname">m!tribe</h3>
            <span class="cdesc">Display Tribe info.</span>
            <div class="aliases">Aliases:<span>N/A</span></div>
        </div>
        <div class="ccontainer" id="stats">
            <h3 class="cname">m!stats</h3>
            <span class="cdesc">Display your statistics.</span>
            <div class="aliases">Aliases:<span>m!s</span></div>
        </div>
        <h2 id="action">Action Commands</h2>
        <div class="ccontainer" id="shop">
            <h3 class="cname">m!shop</h3>
            <span class="cdesc">Display the shop.</span>
            <div class="aliases">Aliases:<span>N/A</span></div>
        </div>
        <div class="ccontainer" id="start">
            <h3 class="cname">m!start</h3>
            <span class="cdesc">Create your MineKing account.</span>
            <div class="aliases">Aliases:<span>N/A</span></div>
        </div>
        <div class="ccontainer" id="sell">
            <h3 class="cname">m!sell [all | ore] [count]</h3>
            <span class="cdesc">Sell your ore!</span>
            <div class="aliases">Aliases:<span>N/A</span></div>
        </div>
        <div class="ccontainer" id="repair">
            <h3 class="cname">m!repair</h3>
            <span class="cdesc">Repair your pickaxe with an anvil.</span>
            <div class="aliases">Aliases:<span>N/A</span></div>
        </div>
        <div class="ccontainer" id="pickinfo">
            <h3 class="cname">m!pickinfo</h3>
            <span class="cdesc">View pickaxe info.</span>
            <div class="aliases">Aliases:<span>N/A</span></div>
        </div>
        <div class="ccontainer" id="pickaxe">
            <h3 class="cname">m!pickaxe</h3>
            <span class="cdesc">View your pickaxes.</span>
            <div class="aliases">Aliases:<span>m!picks</span></div>
        </div>
        <div class="ccontainer" id="mine">
            <h3 class="cname">m!mine</h3>
            <span class="cdesc">Mine ores.</span>
            <div class="aliases">Aliases:<span>m!m</span></div>
        </div>
        <div class="ccontainer" id="chest">
            <h3 class="cname">m!chest</h3>
            <span class="cdesc">Get your daily chest!</span>
            <div class="aliases">Aliases:<span>N/A</span></div>
        </div>
        <h2 id="other">Other Commands</h2>
        <div class="ccontainer" id="boost">
            <h3 class="cname">m!boost</h3>
            <span class="cdesc">Display MineKingdom server boosts.</span>
            <div class="aliases">Aliases:<span>N/A</span></div>
        </div>
        <div class="ccontainer" id="botinfo">
            <h3 class="cname">m!botinfo</h3>
            <span class="cdesc">Get information about the bot!</span>
            <div class="aliases">Aliases:<span>N/A</span></div>
        </div>
        <div class="ccontainer" id="donate">
            <h3 class="cname">m!donate</h3>
            <span class="cdesc">Donate to the bot to get some juicy perks!</span>
            <div class="aliases">Aliases:<span>N/A</span></div>
        </div>
        <div class="ccontainer" id="drink">
            <h3 class="cname">m!drink</h3>
            <span class="cdesc">Drink liquids.</span>
            <div class="aliases">Aliases:<span>N/A</span></div>
        </div>
        <div class="ccontainer" id="eat">
            <h3 class="cname">m!eat</h3>
            <span class="cdesc">Eat foodstuffs.</span>
            <div class="aliases">Aliases:<span>N/A</span></div>
        </div>
        <div class="ccontainer" id="help">
            <h3 class="cname">m!help</h3>
            <span class="cdesc">View the help menu.</span>
            <div class="aliases">Aliases:<span>N/A</span></div>
        </div>
        <div class="ccontainer" id="hunt">
            <h3 class="cname">m!hunt</h3>
            <span class="cdesc">Hunt for foodstuffs!</span>
            <div class="aliases">Aliases:<span>N/A</span></div>
        </div>
        <div class="ccontainer" id="invite">
            <h3 class="cname">m!invite</h3>
            <span class="cdesc">Invite the bot to your server!</span>
            <div class="aliases">Aliases:<span>N/A</span></div>
        </div>
        <div class="ccontainer" id="support">
            <h3 class="cname">m!support</h3>
            <span class="cdesc">Join the support server!</span>
            <div class="aliases">Aliases:<span>N/A</span></div>
        </div>
        <div class="ccontainer" id="leaderboard">
            <h3 class="cname">m!leaderboard &lt;type&gt;</h3>
            <span class="cdesc">View leaderboards for the current guild.</span>
            <div class="aliases">Aliases:<span>m!lb</span></div>
        </div>
        <div class="ccontainer" id="ping">
            <h3 class="cname">m!ping</h3>
            <span class="cdesc">View the latency between Discord and the bot.</span>
            <div class="aliases">Aliases:<span>N/A</span></div>
        </div>