extends layout

block content
    link(rel="stylesheet", href="/stylesheets/pages/index.css")
    script(src="/javascripts/pages/index.js")

    <h1 class="page-title">Welcome to MineKing!</h1>
    <div class="info-buttons">
        <div class="button-area"><button><img src="/images/icon-bot.png" alt="Invite logo"><span>Invite</span></button></div>
        <div class="button-area"><button><img src="/images/icon-bot.png" alt="Vote logo"><span>Vote</span></button></div>
        <div class="button-area"><button><img src="/images/icon-bot.png" alt="Support logo"><span>Support</span></button></div>
    </div>