doctype html
<html lang="en">
  head
    title= title
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    meta(name="title" content="MineKingdom")
    meta(name="description" content="Discord Miner is a creative economy and mining simulation bot where you can mine ores to gain money to craft better tools and earn rewards!")

    meta(property="og:title" content="MineKingdom")
    meta(property="og:description" content="Discord Miner is a creative economy and mining simulation bot where you can mine ores to gain money to craft better tools and earn rewards!")

    link(rel="icon", href="/images/icon.png")
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src="/javascripts/ssl.js")
    script(src="/javascripts/nav.js")
  body
    header
      <nav>
          <img src="./images/icon.png" alt="MineKingdom logo" class="logo">
          <ul class="left">
              <li><a href="/"><span>Home</span></a></li>
              <li><a href="/about"><span>About Us</span></a></li>
              <li><a href="/commands"><span>Commands</span></a></li>
              <li><a href="/team"><span>Meet the Team</span></a></li>
              <li><a href="/contact"><span>Contact</span></a></li>
          </ul>
          <ul class="right">
              <li><a href="https://discordapp.com/oauth2/authorize?client_id=627332767461670941&scope=bot&permissions=388161"><span>Invite</span></a></li>
              <li><a href="https://top.gg/bot/627332767461670941/vote"><span>Upvote</span></a></li>
              //- <li><a href="https://discordapp.com/api/oauth2/authorize?client_id=627332767461670941&redirect_uri=https%3A%2F%2Fminekingdom.io%2F&response_type=code&scope=identify%20email"><span>Login</span></a></li>
              <li><a href="https://discord.gg/BajXaQr"><span>Discord</span></a></li>
          </ul>
      </nav>
    main
      .app
        block content
    footer
      span.copyright-notice &copy; MineKingdom 2020. All rights reserved.
</html>