extends layout
block content
    link(rel="stylesheet", href="/stylesheets/pages/team.css")

    <h1 class="page-title">Meet the Team</h1>
    <h2 id="founder">Founder</h2>
    <div class="team-card">
        <img src="/images/team/Jaii.png" alt="Jaii's avatar'">
        <div class="user-info">
            <span>Jaii</span>
            <p>Spicy jalapeno bacon ipsum dolor amet tri-tip alcatra swine frankfurter chislic, short loin drumstick strip steak tongue meatball brisket pork jowl spare ribs leberkas. Pork chop salami meatloaf rump. Pork belly drumstick spare ribs, pork loin tongue ribeye meatball burgdoggen short loin hamburger. Swine ribeye porchetta shank tongue buffalo venison tri-tip kevin andouille beef. Meatloaf burgdoggen andouille porchetta.</p>
        </div>
    </div>
    <h2 id="owners">Owners</h2>
    <div class="team-card">
        <img src="/images/team/GoldWing.gif" alt="Goldwing's avatar">
        <div class="user-info">
            <span>GoldWing</span>
            <p>Hello, I’m GoldWing, but you can call me Jack. Im in my first year of college. I’m currently studying Computer Science and Programming. My experience of management and general staffing started in 2015 when Minecraft was really getting popular. Since then I’ve had many jobs as management and have ventured over into freelancer discords and starting my own businesses with my partner.</p>
        </div>
    </div>
    <div class="team-card">
        <img src="/images/team/Matt.gif" alt="Matt's avatar">
        <div class="user-info">
            <span>Matt</span>
            <p>Hello! My name is Matt and I've been around the MC Community for quite some time now, and I love to develop and configure servers. More recently I have started taking a liking to the management and staff on MC servers. I live in Arizona, so yeah, it does get pretty hot over here. I really enjoy MC and I believe that I am good with that I do and I have the need to share it with others. I try my best to be professional when I need to be, but other times I prefer to hang with the members of any server because that's how they get to love the server even more.</p>
        </div>
    </div>
    <h2 id="overseers">Overseers</h2>
    <div class="team-card">
        <img src="/images/team/Danny.gif" alt="Danny's avatar">
        <div class="user-info">
            <span>Danny</span>
            <p>Spicy jalapeno bacon ipsum dolor amet tri-tip alcatra swine frankfurter chislic, short loin drumstick strip steak tongue meatball brisket pork jowl spare ribs leberkas. Pork chop salami meatloaf rump. Pork belly drumstick spare ribs, pork loin tongue ribeye meatball burgdoggen short loin hamburger. Swine ribeye porchetta shank tongue buffalo venison tri-tip kevin andouille beef. Meatloaf burgdoggen andouille porchetta.</p>
        </div>
    </div>
    <div class="team-card">
        <img src="/images/team/Excalibur.jpg" alt="Excalibur's avatar">
        <div class="user-info">
            <span>Excalibur</span>
            <p>Hello. You can call me Cali. I'm 19 years old and part of the MineKingdom staff as an Overseer. Hit me up if you want to partner with our marvelous server or anything else you might need help with regarding the bot. Cheers mate!</p>
        </div>
    </div>
    <div class="team-card">
        <img src="/images/team/Pingu.png" alt="Pingu's avatar">
        <div class="user-info">
            <span>Pingu</span>
            <p>Hi! My name is Will and I am a College Student from the UK. I'm bisexual with a passion for music and computing. I love listening to Lewis Capaldi, and playing the piano.</p>
        </div>
    </div>
    <div class="team-card">
        <img src="/images/team/Tra.png" alt="Tra's avatar">
        <div class="user-info">
            <span>Tra</span>
            <p>Hey, I’m Tra. I have always loved being able to help others, which is why I applied to join the team.</p>
        </div>
    </div>
    <h2 id="supervisors">Supervisors</h2>
    <div class="team-card">
        <img src="/images/team/DamienVesper.png" alt="DamienVesper's avatar">
        <div class="user-info">
            <span>DamienVesper</span>
            <p>Hey there, I'm Damien. My favorite thing to do is program, and I've been a web developer for 4 years now, and the reason that I'm here is so that you can see the site that you're looking at now right in front of you!</p>
        </div>
    </div>
    <div class="team-card">
        <img src="/images/team/Das_Unterstrich.png" alt="Das Understrich's avatar">
        <div class="user-info">
            <span>Das_Unterstrich</span>
            <p>Hello, I'm Das. I'm your average German guy who spends way too much time on Discord and loves swimming. I joined Discord late 2017, and this server in early 2019 with getting Supervisor just a few weeks after my join. This server is one of my favourite servers of all time and I would like to see you on it as well, so join today!</p>
        </div>
    </div>
    <div class="team-card">
        <img src="/images/team/Geo.gif" alt="_user_ avatar">
        <div class="user-info">
            <span>Geo</span>
            <p>Hey, I'm Geo, I joined discord in 2018, I consider myself a friendly person, useful in some situations and stupid in others.</p>
        </div>
    </div>
    <div class="team-card">
        <img src="/images/team/Molovo.png" alt="Molovo's avatar">
        <div class="user-info">
            <span>Molovo</span>
            <p>I am Marvin, a 19-year old German guy, who is a big fan of football and who loves to help other people! I have been on Discord since 2016 and spend as much time as possible on there! I am friendly and helpful to everyone who asks to help and love to play a lot of games on PC.</p>
        </div>
    </div>
    <div class="team-card">
        <img src="/images/team/Rory.png" alt="Rory's avatar">
        <div class="user-info">
            <span>Rory</span>
            <p>Spicy jalapeno bacon ipsum dolor amet tri-tip alcatra swine frankfurter chislic, short loin drumstick strip steak tongue meatball brisket pork jowl spare ribs leberkas. Pork chop salami meatloaf rump. Pork belly drumstick spare ribs, pork loin tongue ribeye meatball burgdoggen short loin hamburger. Swine ribeye porchetta shank tongue buffalo venison tri-tip kevin andouille beef. Meatloaf burgdoggen andouille porchetta.</p>
        </div>
    </div>
    <div class="team-card">
        <img src="/images/team/Scarlett.png" alt="Scarlett's avatar">
        <div class="user-info">
            <span>Scarlett</span>
            <p>Spicy jalapeno bacon ipsum dolor amet tri-tip alcatra swine frankfurter chislic, short loin drumstick strip steak tongue meatball brisket pork jowl spare ribs leberkas. Pork chop salami meatloaf rump. Pork belly drumstick spare ribs, pork loin tongue ribeye meatball burgdoggen short loin hamburger. Swine ribeye porchetta shank tongue buffalo venison tri-tip kevin andouille beef. Meatloaf burgdoggen andouille porchetta.</p>
        </div>
    </div>
    <div class="team-card">
        <img src="/images/team/Shifter.gif" alt="Shifter's avatar">
        <div class="user-info">
            <span>Shifter</span>
            <p>Hi my name is Shifter. I'm 18, male and from the United Kingdom. I became part of this community a long while back and have been staff for over a year now. I have become friends with many new people along the way (and banned some too) but I'm only here to enforce the rules. Don't break 'em and we can be friends too! So um yeah nothing much else to say here, I'm a YouTuber and I use emojis too often.</p>
        </div>
    </div>
    <div class="team-card">
        <img src="/images/team/TJay.png" alt="TJay's avatar">
        <div class="user-info">
            <span>TJay</span>
            <p>Hello fellow humans. It is I, supervisor TJay.  This message is not intended to discombobulate you and if it was it was inadvertently. Please show equanimity while reading this. I like food and going to the gym and keeping stuff bona fide.</p>
        </div>
    </div>